a {
  color: white;
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  gap: 1.5em;
}

.list-item {
  font-size: 1.2em;
  height: 4em;
  border-radius: 2em;
  display: flex;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
  flex-grow: 1;
}

.link img {
  width: 1.2em;
}
